
.subscribe-button {
    background-color:rgb(174, 6, 6);
    color:white;
    border:none;
    padding-top:10px;
    padding-left:20px;
    padding-bottom:10px;
    padding-right:20px;        
    border-radius:2px;
    cursor:pointer;
    margin-right:8px;
    margin-left:8px;
    transition:opacity 0.15s;
    vertical-align:top;
}
    .subscribe-button:hover {
        opacity:0.7;
    }
    .subscribe-button:active {
        opacity:0.4;
    }
    .join-button {
        background-color:white;
        color: rgb(29, 155, 240);
        border-color:rgb(29, 155, 240);
        border-style:solid;
        border-width:1px;
        border-radius: 2px;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:20px;
        padding-left:20px;
        cursor:pointer;
        margin-right:8px;
        margin-left:8px;
        transition: background-color 1s, color 1s;
        vertical-align: top;
    }
    .join-button:hover {
        background-color:rgb(29, 155, 240);
        color:white;
    }
    .join-button:active {
        opacity:0.7;
    }
    .tweet-button {
        background-color:rgb(29, 155, 240);
        color:white;
        border:none;
        border-radius:14px;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:16px;
        padding-left:16px;
        font-weight:bold;
        cursor:pointer;
        transition: box-shadow 0.15s;
        margin-right:8px;
        vertical-align:top;
        
    }
    .tweet-button:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    }

    .uber-button {
        background-color:black;
        color:white;
        padding-top: 7px;
        padding-bottom:7px;
        padding-right:16px;
        padding-left: 16px;
        border-style:solid;
        cursor: pointer;
        margin-right: 8px;
        transition:0.3s;
        vertical-align: top;
    }
    .uber-button:hover {
        opacity:0.7;
    }
    .amazon-button {
        background-color: rgb(255, 216, 20);
        color:black;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 7px;
        padding-top: 7px;
        margin-right:8px;
        cursor:pointer;
        border-radius:15px;
        border:none;
        vertical-align:top;
    }
    .github-button {
        background-color:rgb(46,164,79);
        color:white;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:16px;
        padding-right: 16px;
        border:none;
        border-radius:4px;
        cursor:pointer;
        margin:8px;
        font-weight:bold;
        font-size:12px;
        vertical-align: top;
    }
    .bootstrap-button {
        background-color:rgb(121,82,179);
        color:white;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:16px;
        padding-right: 16px;
        border:none;
        border-radius:3px;
        cursor:pointer;
        margin:8px;
        vertical-align: top;
    }
    .save-button {
        background-color:white;
        color: rgb(10,102,194);
        border-color:rgb(10,102,194);
        border-style:solid;
        border-width:1px;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:16px;
        padding-right: 16px;
        border-radius: 15px;
        cursor:pointer;
        margin:8px;
        vertical-align:top;
}