 p {
        font-family:roboto;
    }
    .video-title {
        font-weight:bold;
        font-size:18px;
        width:300px;
        line-height:26px;
        margin-bottom:8px;
        margin-top:0;
    }
    .video-stats {
        font-size:14px;
        color:rgb(96,96,96);
        margin-top:0;
        margin-bottom:30px;

    }
    .name {
        font-size:14px;
        color:rgb(96,96,96);
        margin-top:0;
        margin-bottom:20px;
    }
    .video-desc {

        font-size:14px;
        color:rgb(96,96,96);
        width:280px;
        line-height:22px;
        margin-top:0;
        margin-bottom: 100px;
    }
    .apple-text {
        font-size:14px;
        background-color: rgb(227, 65, 64);
        color:white;
        text-align:center;
        padding-bottom:18px;
        padding-top: 18px;
    }
    .span-exam {
        cursor: pointer;
    }
    .span-exam:hover {
        text-decoration: underline;
    }
    .examp-a {
        font-size:14px;
        font-weight:bold;
    }
    .html {
        font-weight:bold;
        font-size:16px;
    }
    .sub-para {
        font-size: 14px;
        color:rgb(96,96,96)
    }
    .para {
        font-size: 16px;
        line-height: 26px;
        width:300px;

    }
    .get-start {
        background-color: green;
        border-radius: 4px;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        border:none;

    }
    .new {
        font-size:12px;
        color:orange;
        text-align:center;
        margin-bottom: 2px;

    }
    .mac-book {
        font-size:20px;
        color:black;
        text-align: center;
        font-weight:bold;
        margin-top: 2px;
        margin-bottom: 0;

    }
    .para-two {
        font-weight:bold;
        color:black;
        font-size:30px;
        text-align:center;
        margin-top: 0;
        margin-bottom:2px;
        padding-bottom: 0;
    }
    .buy {
        background-color:blue;
        border-radius: 4px;
        border:none;
        color:white;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content:center;
    }