
.thumbnail {
    width:100%;
}

.video-title {
    margin-top:0px;
    font-size: 14px;
    font-weight:500;
    line-height: 20px;
    margin-bottom: 12px;
}
.video-info-grid {
    display:grid;
    grid-template-columns: 50px 1fr;;

}
.video-author, .video-stats {
    font-size:12px;
    color:rgb(96,96,96);
}
.video-author {
    margin-bottom:4px;
}
.channel-picture {
    width:50px;
    vertical-align: top;
    
}
.profile-picture {
    width:100%;
    border-radius:50px;
}
.thumbnail-row {
    margin-bottom:12px;
}
.video-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:15px;
    row-gap:40px;
}